/**************************
 * Author: Christoph Zorn *
 * Official FixPad Theme  *
 **************************/


/** General Widgets **/

QMainWindow
{
    padding: 0px;
    margin: 0px;
    border: none;
}

QPushButton
{
	min-width: 100%;
	max-width: 100%;
	min-height: 15px;
	max-height: 15px;

	padding: 2px;
	margin: 1px 0px 1px 0px;

	border: 1px solid #FFFFFF;
	border-radius: 1px;

	color: #FFFFFF;
    background-color: #000000;
}

QPushButton:hover
{
	border: 1px solid #0077FF;

	background-color: #555555;
}

QLabel
{
	padding: 2px;

	border-right: 1px solid #000000;

	color: #FFFFFF;
    background-color: #555555;
}

QCheckBox
{
	color: #FFFFFF;
}

QTextEdit
{
    outline: 0;
    border: none;
    color: #FFFFFF;
    background-color: #000000;
}

/** Menu **/
QMenuBar
{
	color: #FFFFFF;
    background-color: #000000;
}

QMenuBar:item:selected
{
	background-color: #555555;
}

QMenu
{
	border: 1px solid #000000;
	color: #FFFFFF;
    background-color: #000000;
}

QMenu:item:selected
{
	color: #FFFFFF;
    background-color: #555555;
}

/** Toolbar **/

QToolBar
{
	border: 1px solid #000000;

	color: #FFFFFF;
    background-color: #000000;
}

QToolButton:hover
{
	border: 1px solid #555555;
	background-color: rgba(85, 85, 85, 0.4);
}

/** Widget Collection **/

QGroupBox
{
    margin-top: 0.5em;
    border: 1px solid #FFFFFF;
    border-radius: 1px;

    color: #FFFFFF;
    background-color: #000000;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px 0 3px;
}

QTabWidget
{
	padding: 0px;
	margin: 0px;
	border: none;

	color: #FFFFFF;
	background-color: #000000;
}

QTabWidget::tab-bar
{
	border-bottom: none
}

QTabWidget::pane
{
	border: none;
	border-top: 1px solid #000000;
}

QTabBar::tab
{
	min-width: 75px;
	max-width: auto;
	min-height: 20px;
	max-height: 20px;

	border-bottom: 2px solid transparent;
	border-right: 1px solid #000000;
}

QTabBar::tab:hover
{
	border-bottom: 2px solid #770000;
}

QTabBar::tab:selected
{
	border-bottom: 2px solid #FF9900;

	color: #FFFFFF;
	background-color: #0077FF;
}

QTabBar::tab:!selected
{
	color: #FFFFFF;
	background-color: #555555;
}

QSplitter
{
	padding: 0px;
    margin: 0px ;
    border: none;

    color: #000000;
    background-color: #000000;
}

QSplitter:handle
{
    width: 0px;
    border: 1.5px solid #0077FF;
}

QScrollBar:vertical
{
	width: 10px;
	color: #FFFF00;
	border-left: 2px solid rgba(0, 0, 0, 0);
	border-right: 2px solid rgba(0, 0, 0, 0);
	background: #000000;
}

QScrollBar:handle:vertical
{
	width: 8px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	color: #00FF00;
	background: #0077FF;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
	background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
	width: 0px;
	height: 0px;
	background: none;
}

QScrollArea
{
	padding: 0px;
	margin: 0px;
	border: none;
}